{{amount_formset.non_form_errors}}
<table>
    {{amount_formset.management_form}}
    <tr>
        <th>{{amount_formset.supinfo.product}}</th>
        <th>{{amount_formset.supinfo.price}}</th>
        <th>{{amount_formset.supinfo.amount}}</th>
        <th>COUNT</th>
    </tr>
    {% for form in amount_formset %}
    <tr>
        <td><label for="{{form.amount.id_for_label}}">{{form.supinfo.name}}</label></td>
        <td><label for="{{form.amount.id_for_label}}">{{form.supinfo.price}}</label></td>
        <td>{{form.amount}}{{form.pid}}</td>
        <td>
            {{form.non_field_errors}}
            <input type="number" value="0" />
            {{form.amount.errors}}
        </td>
    </tr>
    {% endfor %}
</table>
