{{amount_formset.non_form_errors}}
<table id="order-table">
    {{amount_formset.management_form}}
    <tr>
        <th>{{amount_formset.supinfo.product}}</th>
        <th>{{amount_formset.supinfo.price}}</th>
        <th>{{amount_formset.supinfo.amount}}</th>
        <th>小計</th>
    </tr>
    {% for form in amount_formset %}
    <tr>
        <td><label for="{{form.amount.id_for_label}}">{{form.supinfo.name}}</label></td>
        <td><label for="{{form.amount.id_for_label}}">{{form.supinfo.price}}</label></td>
        <td id="select{{forloop.counter0}}">{{form.amount}}{{form.pid}}</td>
        <td>
            {{form.non_field_errors}}
            <input id="price{{forloop.counter0}}" type="hidden" value="{{form.supinfo.price}}" />
            <input id="count{{forloop.counter0}}" class="count" type="number" value="0" />
            {{form.amount.errors}}
        </td>
    </tr>
    {% endfor %}
    <!-- thin line in table -->
    <tr><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td></tr>
    <tr>
        <td>總計</td>
        <td></td>
        <td></td>
        <td><input id="total" type="number" value="0"/></td>
    </tr>
</table>
