<!-- ref:
    http://stackoverflow.com/questions/4990300/is-it-possible-to-use-a-caption-tag-in-a-form
    http://www.w3.org/wiki/HTML/Elements/legend
-->
{% extends "base.html" %}

{% block style %}/static/style/order_form.css{% endblock %}

{% block content %}

<div id="container">

    <h4>使用者 {{user.email}} 您好！</h4>
    <h4>歡迎使用交大洄瀾週訂購系統, 請填寫欲訂購的品項</h4>

    <h3 id="order-success"
      {% if not order_success %}class="order-dirty"{% endif %}
      >訂購成功！</h3>

    <form method="post">

        {%if not readonly%}{%csrf_token%}{%endif%}

        {% include amount_template %}

        <fieldset id="contact-info"><legend>{{user.email}} 連絡資訊</legend>
            {% include contact_template %}
        </fieldset>

        <!-- <input type="submit" value="送出"/> -->
        {%if not readonly%}<button type="submit">送出</button>{%endif%}

    </form>
</div>

<script src="/static/js/order_form.js"></script>

{% endblock %}
