<!-- ref:
    http://stackoverflow.com/questions/4990300/is-it-possible-to-use-a-caption-tag-in-a-form
    http://www.w3.org/wiki/HTML/Elements/legend
-->
<form method="post">

    {% csrf_token %}

    <fieldset><legend>Amount of {{user.email}}</legend>
        {% include amount_template %}
    </fieldset>

    <fieldset><legend>Contact of {{user.email}}</legend>
        {% include contact_template %}
    </fieldset>

    <!-- <input type="submit" value="送出"/> -->
    <button type="submit">送出</button>

</form>

