{% extends "base.html" %}

{% block style %}/static/style/product_list.css{% endblock %}

{% block content %}
<table id="products-table">
  <caption>產品列表</caption>
  <thead>
    <tr>
      <th>圖片</th>
      <th class="name">名稱</th>
      <th class="price">價格</th>
      <th class="description">特色</th>
      <th class="expiration">保存期限</th>
    </tr>
  </thead>
  <tfoot><tr></tr></tfoot> <!-- ref:http://www.w3ctutorial.com/html5-tags/tag-tfoot -->
  <tbody>
  {% for product in object_list %}
    <tr>
      <td class="img"><img src="{{ MEDIA_URL }}{{ product.picture }}"/></td>
      <td class="name">{{ product.name }}</td>
      <td class="price">{{ product.price }}元</td>
      <td class="description">{{ product.description }}</td>
      <td class="expiration">{{ product.expiration }}天</td>
    </tr>
  {% empty %}
     <tr><td colspan="5">No product yet.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
