<h2>Schedule</h2>
<p>location:{{ object.location }}</p>
<p>order_st:{{ object.order_st }}</p>
<p>order_ed:{{ object.order_ed }}</p>
<p>alter_st:{{ object.alter_st }}</p>
<p>alter_ed:{{ object.alter_ed }}</p>
<p>booth_st:{{ object.booth_st }}</p>
<p>booth_ed:{{ object.booth_ed }}</p>
<p>range1st:{{ object.range1st }}</p>
<p>range2nd:{{ object.range2nd }}</p>

<h2>Announce</h2>
<p>announce:{{ object.announce }}</p>
<p>contact_email:{{ object.contact_email }}</p>
<p>last_update:{{ object.last_update }}</p>
