{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<table id="main-table">
    <caption>各項活動時間表</caption>
    <thead>
        <tr>
            <th></th>
            <th>開始時間</th>
            <th>結束時間</th>
            <th>地點</th>
            <th>備註</th>
        </tr>
    </thead>
    <tfoot><tr></tr></tfoot> <!-- ref:http://www.w3ctutorial.com/html5-tags/tag-tfoot -->
    <tbody>
        <tr>
            <th>網路預購</th>
            <td>{{ object.order_st }}</td>
            <td>{{ object.order_ed }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>更改預購訂單</th>
            <td>{{ object.alter_st }}</td>
            <td>{{ object.alter_ed }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>現場擺攤</th>
            <td>{{ object.booth_st }}</td>
            <td>{{ object.booth_ed }}</td>
            <td>{{ object.location }}</td>
            <td>{{ object.act_1_st }}~{{ object.act_1_ed }}<br />
                {{ object.act_2_st }}~{{ object.act_2_ed }}</td>
        </tr>
        <tr>
            <td colspan="5">{{ object.announce }}</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="">[名產介紹]</a></td>
            <td><a href="">[網路訂購]</a></td>
            <td><a href="">[查詢訂購]</a></td>
            <td></td>
        </tr>
    </tbody>
</table>

<p>contact_email:{{ object.contact_email }}</p>
<p>last_update:{{ object.last_update }}</p>
{% endblock %}
