body {
    background-color: #FFFFCC;
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    font-family: "微軟正黑體", Arial, 細明體;
    color: #315681;
}

div#logo-container {
    margin: 12px;
    text-align: center;
}

a:link {
    color: #FA0300;
    text-decoration: none;
}
a:visited {
    color: #FA0300;
    text-decoration: none;
}
a:hover {
    color: #6633FF;
    text-decoration: underline;
}
a:active {
    color: #FF33FF;
    text-decoration: none;
}

table > caption {
    font-size: 20px;
}

table > tbody > tr:nth-child(even) > td,
table > tbody > tr:nth-child(even) > th {
    background-color: #E5FFCD;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
    background-color: #FFE7CD;
}

