table#information-table {
    width: 825px;
    border: 0px;
    margin: auto;
}

table#information-table td,
table#information-table th {
    font-size: 16px;
    text-align: center;
}

table#information-table > caption {
    font-weight: bold;
    background-color: #FFCCCC;
}

table#information-table > thead > tr > th {
    background-color: #E5FFCD;
}

table#information-table > tbody > tr > td {
    width: 160px;
}

table#information-table > tbody > tr > th {
    font-weight: bold;
    color: #315681;
    text-align: center;
}

table#information-table > tbody > tr:nth-child(even) > td,
table#information-table > tbody > tr:nth-child(even) > th {
    background-color: #E5FFCD;
}

table#information-table > tbody > tr:nth-child(odd) > td,
table#information-table > tbody > tr:nth-child(odd) > th {
    background-color: #FFE7CD;
}

